.text-shadow-neon {
  text-shadow: 0 0 30px rgba(188,19,254,0.6);
}

@keyframes shimmer {
  100% { transform: translateX(100%); }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bc13fe;
}