<section class="hud-panel w-full max-w-lg p-1 animate-fade-in group">
  <input type="file" #fileInput (change)="onFileChange($event)" class="hidden" accept="image/*" />

  <div
    class="relative bg-[#0a0a12]/50 m-1 rounded-xl border-2 border-dashed border-white/10 hover:border-[#bc13fe]/50 hover:bg-[#bc13fe]/5 transition-all duration-300 group-hover:shadow-[0_0_20px_rgba(188,19,254,0.1)]"
  >
    <label (click)="fileInput.click()" class="cursor-pointer block py-20 px-8 text-center">
      <div
        class="w-20 h-20 bg-[#13131f] rounded-full flex items-center justify-center mx-auto mb-6 border border-white/10 shadow-xl shadow-black/50 group-hover:scale-110 transition-transform duration-300 relative overflow-hidden"
      >
        <div
          class="absolute inset-0 bg-[#bc13fe] opacity-0 group-hover:opacity-10 transition-opacity"
        ></div>
        <i class="fa-solid fa-camera text-3xl text-[#bc13fe]"></i>
      </div>

      <h2 class="text-xl font-bold text-white mb-2">Subir Foto</h2>
      <p class="text-slate-400 text-sm font-medium">Carátula, disco o cartucho</p>
    </label>
  </div>
</section>
